.fa {
    color: #14d014;
}

.nav-color {
    background-color: #2c455f;
}

#user-nav-dropdown {
    background-color: #2c455f;
    border-color: #9a9c9d
}


a {
    color: #9a9c9d !important;
}

    a:hover {
        color: white !important;
        Background-color: #2c455f !important;
    }

#user-ads-dropdown {
    background-color: #2c455f;
    border-color: #9a9c9d
}

.nav-font-color {
    color: #9a9c9d;
}

.field-lable {
    font-weight: bold;
    font-style: oblique;
    color: black;
    margin: 19px 0 2px 8px;
}

#state, #city, #zipCode, #unitNumber {
    max-width: 65%;
}

#first, #last, #email, #dob, #phone, #street1, #street2, #pass, #vpass {
    max-width: 85%;
}

.bordered-card {
    border: 1px solid #d4d4d4;
    border-radius: 15px;
    padding-bottom: 28px;
    padding: 0px 3%
}

.submit-btn {
    text-align: center;
    margin: 10px 10px;
    color: #9a9c9d;
    background-color: #2c455f;
}

    .submit-btn:hover {
        color: white;
    }

.submit-btn-container {
    margin: 10px 0px;
    text-align: center;
}

.center-items {
    margin: 10px 0px;
    text-align: center;
}

#login-block {
    margin: auto;
    max-width: 30%;
    padding: 0px 3%
}

    #login-block > input {
        max-width: 100%;
    }

#contact-us-block {
    margin: auto;
    max-width: 30%;
    padding: 0px 3%
}

    #contact-us-block > input {
        max-width: 100%;
    }


.card {
    display: inline-block !important;
    max-width: 18%;
    margin: 8px 4px;
}

.msgs-panel {
    color: red;
    border: 1px solid;
    border-radius: 15px;
    padding-bottom: 28px;
    padding: 10px 3%;
    margin: 50px auto;
    max-width: 30% !important;
}

.custom-badge {
    display: inline-block;
    min-width: 1em;
    padding: .3em;
    margin: 5px 5px;
    border-radius: 50%;
    font-size: 13px;
    text-align: center;
    background: #1779ba;
    color: #fefefe;
}


.a-ad-click {
    color: black !important;
    text-decoration: none;
    background-color: white;
}

    .a-ad-click:hover {
        color: black !important;
        text-decoration: none;
        background-color: white !important;
    }
